<!DOCTYPE html>
<html class="wide wow-animation" lang="en"> 
  {% set NomPage="A propos" %}
  
  {% include("layout/head.html") %}

 <body>
        {% include("layout/nav.html") %}
        

     <!--  BREADCRUMBS -->

      {% include("layout/breadcrumbs.html") %}

      <section class="section section-lg bg-white">
        <div class="container">
          
        </div>
      </section>

      <section class="parallax-container" data-parallax-img="/static/images/parallax-img-4.jpg">
        
        
      </section>
      <section class="section section-lg bg-gray-1 text-center">
        <div class="container">
          <h2>Our Awards</h2>
          
        </div>
            <!-- Page Footer-->
            {% include("layout/footer.html") %}
    
    {% include("layout/scripts.html") %}

  </body>
</html>