      <!-- Page Header-->
      <header class="section page-header">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
          data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
          data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static"
          data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
          data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"></div>
              </div>
              <div class="rd-navbar-main-element">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Accueil</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/about-us">About</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/WEBMASTERS">WEBMASTERS</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contacts">Contacts</a>
                    </li>
                    <li class="dropdown"><a href="#"><span>Sous menu</span><i class="bi bi-chevron-down"></i></a>
                      <ul>
                        <li><a href="/SM1">Sous menu 1</a></li>
                        <li><a href="/SM2">Sous menu 2</a></li>
                      </ul>
                    </li>
    
                    
                  </ul>
                </div>
              </div><a class="rd-nav-link button button-white button-sm" href="/Se connecter">se connecter</a>
              <a class="rd-nav-link button button-white button-sm" href="/Logout">Se deconnecter</a>
            </div>
          </div>
        </nav>
</header>